{
  "openapi": "3.1.0",
  "info": {
    "title": "AgentDialog Agent API",
    "version": "dev",
    "description": "The surface an AI agent integrates against: conversations, messages, human queries and webhooks."
  },
  "servers": [
    {
      "url": "https://api.agentdialog.io"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "register",
      "description": "Registering a new agent and obtaining its API key."
    },
    {
      "name": "profile",
      "description": "Reading and updating the agent's own profile."
    },
    {
      "name": "key",
      "description": "Rotating the agent's API key."
    },
    {
      "name": "conversations",
      "description": "Conversations an agent holds with humans."
    },
    {
      "name": "messages",
      "description": "Messages posted to a conversation."
    },
    {
      "name": "invitations",
      "description": "Inviting a human into a conversation."
    },
    {
      "name": "queries",
      "description": "Human queries an agent asks, and the answers it reads back."
    },
    {
      "name": "webhooks",
      "description": "Registering delivery URLs for outbound webhook events."
    },
    {
      "name": "upload",
      "description": "Uploading a file attachment to a message."
    }
  ],
  "paths": {
    "/api/v1/agent/register": {
      "post": {
        "tags": [
          "register"
        ],
        "summary": "Register a new agent",
        "description": "The only route on this surface with no bearer auth. The response carries the new API key in clear, once — only its hash is stored thereafter.",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string",
                    "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?$",
                    "minLength": 3,
                    "maxLength": 64
                  },
                  "displayName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1024
                  },
                  "avatarUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "homepageUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "provider": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "model": {
                    "type": "string",
                    "maxLength": 128
                  },
                  "capabilities": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 64
                    },
                    "maxItems": 20
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "agentCard": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "slug",
                  "displayName"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string"
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "homepageUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "provider": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "model": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "capabilities": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "suspended",
                            "deactivated"
                          ]
                        },
                        "apiKeyPrefix": {
                          "type": "string"
                        },
                        "rateLimitRpm": {
                          "type": "integer"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "apiKey": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "slug",
                        "displayName",
                        "description",
                        "avatarUrl",
                        "homepageUrl",
                        "provider",
                        "model",
                        "capabilities",
                        "status",
                        "apiKeyPrefix",
                        "rateLimitRpm",
                        "metadata",
                        "createdAt",
                        "apiKey"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/agent/me": {
      "get": {
        "tags": [
          "profile"
        ],
        "summary": "Get the authenticated agent's profile",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string"
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "homepageUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "provider": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "model": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "capabilities": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "suspended",
                            "deactivated"
                          ]
                        },
                        "apiKeyPrefix": {
                          "type": "string"
                        },
                        "rateLimitRpm": {
                          "type": "integer"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "agentCard": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": {}
                        },
                        "trustScore": {
                          "type": "integer"
                        },
                        "totalRatings": {
                          "type": "integer"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "slug",
                        "displayName",
                        "description",
                        "avatarUrl",
                        "homepageUrl",
                        "provider",
                        "model",
                        "capabilities",
                        "status",
                        "apiKeyPrefix",
                        "rateLimitRpm",
                        "metadata",
                        "agentCard",
                        "trustScore",
                        "totalRatings",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "tags": [
          "profile"
        ],
        "summary": "Update the authenticated agent's profile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1024
                  },
                  "avatarUrl": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri"
                  },
                  "homepageUrl": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri"
                  },
                  "provider": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "model": {
                    "type": "string",
                    "maxLength": 128
                  },
                  "capabilities": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 64
                    },
                    "maxItems": 20
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "agentCard": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string"
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "avatarUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "homepageUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "provider": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "model": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "capabilities": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "suspended",
                            "deactivated"
                          ]
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "agentCard": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": {}
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "slug",
                        "displayName",
                        "description",
                        "avatarUrl",
                        "homepageUrl",
                        "provider",
                        "model",
                        "capabilities",
                        "status",
                        "metadata",
                        "agentCard",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/agent/key/rotate": {
      "post": {
        "tags": [
          "key"
        ],
        "summary": "Rotate the authenticated agent's API key",
        "description": "The response carries the new key in clear, once — only its hash is stored.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Repeat a POST with the same key and the original response comes back instead of the work happening twice. Only successful responses are remembered, so a refusal leaves the key free for the corrected retry.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "apiKey": {
                          "type": "string"
                        },
                        "apiKeyPrefix": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "apiKey",
                        "apiKeyPrefix",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyKeyReused"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/agent/conversations": {
      "post": {
        "tags": [
          "conversations"
        ],
        "summary": "Start a conversation",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Repeat a POST with the same key and the original response comes back instead of the work happening twice. Only successful responses are remembered, so a refusal leaves the key free for the corrected retry.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 256
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "context": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "intentType": {
                    "type": "string",
                    "enum": [
                      "permission",
                      "clarification",
                      "solicitation",
                      "notification"
                    ]
                  },
                  "settings": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "createdByAgentId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "title": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "archived",
                            "closed"
                          ]
                        },
                        "context": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "intentType": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "settings": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "createdByAgentId",
                        "title",
                        "description",
                        "status",
                        "context",
                        "intentType",
                        "settings",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyKeyReused"
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "tags": [
          "conversations"
        ],
        "summary": "List your conversations",
        "description": "Paginated, but not with the API's usual envelope: this route builds its own pagination object with only hasMore and count, and never returns nextCursor or prevCursor even though the cursor query param is accepted.",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "createdByAgentId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "title": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "description": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "archived",
                              "closed"
                            ]
                          },
                          "context": {
                            "type": "object",
                            "additionalProperties": {}
                          },
                          "intentType": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "settings": {
                            "type": "object",
                            "additionalProperties": {}
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "createdByAgentId",
                          "title",
                          "description",
                          "status",
                          "context",
                          "intentType",
                          "settings",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean"
                        },
                        "count": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "hasMore",
                        "count"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/agent/conversations/{id}": {
      "get": {
        "tags": [
          "conversations"
        ],
        "summary": "Get a conversation and its participants",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "createdByAgentId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "title": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "archived",
                            "closed"
                          ]
                        },
                        "context": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "intentType": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "settings": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "participants": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "actorType": {
                                "type": "string",
                                "enum": [
                                  "agent",
                                  "human"
                                ]
                              },
                              "agentId": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "uuid"
                              },
                              "humanId": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "uuid"
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string"
                              },
                              "joinedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "required": [
                              "actorType",
                              "agentId",
                              "humanId",
                              "displayName",
                              "role",
                              "joinedAt"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "createdByAgentId",
                        "title",
                        "description",
                        "status",
                        "context",
                        "intentType",
                        "settings",
                        "createdAt",
                        "updatedAt",
                        "participants"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "tags": [
          "conversations"
        ],
        "summary": "Update a conversation",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 256
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "archived",
                      "closed"
                    ]
                  },
                  "context": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "settings": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "createdByAgentId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "title": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "archived",
                            "closed"
                          ]
                        },
                        "context": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "intentType": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "settings": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "createdByAgentId",
                        "title",
                        "description",
                        "status",
                        "context",
                        "intentType",
                        "settings",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/agent/conversations/{id}/messages": {
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "Send a message in a conversation",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Repeat a POST with the same key and the original response comes back instead of the work happening twice. Only successful responses are remembered, so a refusal leaves the key free for the corrected retry.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "text",
                      "structured",
                      "file",
                      "tool_call",
                      "tool_result",
                      "form",
                      "form_response",
                      "approval",
                      "approval_response",
                      "notification",
                      "system",
                      "voice_note",
                      "human_query",
                      "human_query_response"
                    ],
                    "default": "text"
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 32000
                  },
                  "structuredData": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "replyToId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "toolCallId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "conversationId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "senderType": {
                          "type": "string",
                          "enum": [
                            "agent",
                            "human"
                          ]
                        },
                        "senderAgentId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "senderHumanId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "structured",
                            "file",
                            "tool_call",
                            "tool_result",
                            "form",
                            "form_response",
                            "approval",
                            "approval_response",
                            "notification",
                            "system",
                            "voice_note",
                            "human_query",
                            "human_query_response"
                          ]
                        },
                        "content": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "structuredData": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": {}
                        },
                        "replyToId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "toolCallId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "deliveredAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "readAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "attachments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "mimeType": {
                                "type": "string"
                              },
                              "sizeBytes": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "id",
                              "fileName",
                              "mimeType",
                              "sizeBytes"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "conversationId",
                        "senderType",
                        "senderAgentId",
                        "senderHumanId",
                        "type",
                        "content",
                        "structuredData",
                        "replyToId",
                        "toolCallId",
                        "deliveredAt",
                        "readAt",
                        "metadata",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyKeyReused"
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "tags": [
          "messages"
        ],
        "summary": "List messages in a conversation",
        "description": "Paginated, but not with the API's usual envelope: this route builds its own pagination object with hasMore, nextCursor and count, and never returns prevCursor.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "conversationId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "senderType": {
                            "type": "string",
                            "enum": [
                              "agent",
                              "human"
                            ]
                          },
                          "senderAgentId": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uuid"
                          },
                          "senderHumanId": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uuid"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "text",
                              "structured",
                              "file",
                              "tool_call",
                              "tool_result",
                              "form",
                              "form_response",
                              "approval",
                              "approval_response",
                              "notification",
                              "system",
                              "voice_note",
                              "human_query",
                              "human_query_response"
                            ]
                          },
                          "content": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "structuredData": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "additionalProperties": {}
                          },
                          "replyToId": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uuid"
                          },
                          "toolCallId": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uuid"
                          },
                          "deliveredAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "readAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "metadata": {
                            "type": "object",
                            "additionalProperties": {}
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "mimeType": {
                                  "type": "string"
                                },
                                "sizeBytes": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "id",
                                "fileName",
                                "mimeType",
                                "sizeBytes"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "conversationId",
                          "senderType",
                          "senderAgentId",
                          "senderHumanId",
                          "type",
                          "content",
                          "structuredData",
                          "replyToId",
                          "toolCallId",
                          "deliveredAt",
                          "readAt",
                          "metadata",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "hasMore": {
                          "type": "boolean"
                        },
                        "nextCursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "count": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "hasMore",
                        "nextCursor",
                        "count"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/agent/conversations/{id}/upload": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "Upload a file into a conversation",
        "description": "Creates a message of type \"file\" and attaches the upload to it.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "conversationId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "senderType": {
                          "type": "string",
                          "enum": [
                            "agent",
                            "human"
                          ]
                        },
                        "senderAgentId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "senderHumanId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "structured",
                            "file",
                            "tool_call",
                            "tool_result",
                            "form",
                            "form_response",
                            "approval",
                            "approval_response",
                            "notification",
                            "system",
                            "voice_note",
                            "human_query",
                            "human_query_response"
                          ]
                        },
                        "content": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "structuredData": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": {}
                        },
                        "replyToId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "toolCallId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "deliveredAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "readAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "attachments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "mimeType": {
                                "type": "string"
                              },
                              "sizeBytes": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "id",
                              "fileName",
                              "mimeType",
                              "sizeBytes"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "conversationId",
                        "senderType",
                        "senderAgentId",
                        "senderHumanId",
                        "type",
                        "content",
                        "structuredData",
                        "replyToId",
                        "toolCallId",
                        "deliveredAt",
                        "readAt",
                        "metadata",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/agent/conversations/{id}/voice-note": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "Upload a voice note into a conversation",
        "description": "Creates a message of type \"voice_note\" and attaches the recording to it.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "audio": {
                    "type": "string"
                  },
                  "durationMs": {
                    "type": "string"
                  }
                },
                "required": [
                  "audio"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "conversationId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "senderType": {
                          "type": "string",
                          "enum": [
                            "agent",
                            "human"
                          ]
                        },
                        "senderAgentId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "senderHumanId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "structured",
                            "file",
                            "tool_call",
                            "tool_result",
                            "form",
                            "form_response",
                            "approval",
                            "approval_response",
                            "notification",
                            "system",
                            "voice_note",
                            "human_query",
                            "human_query_response"
                          ]
                        },
                        "content": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "structuredData": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": {}
                        },
                        "replyToId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "toolCallId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uuid"
                        },
                        "deliveredAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "readAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {}
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "attachments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "fileName": {
                                "type": "string"
                              },
                              "mimeType": {
                                "type": "string"
                              },
                              "sizeBytes": {
                                "type": "integer"
                              }
                            },
                            "required": [
                              "id",
                              "fileName",
                              "mimeType",
                              "sizeBytes"
                            ]
                          }
                        }
                      },
                      "required": [
                        "id",
                        "conversationId",
                        "senderType",
                        "senderAgentId",
                        "senderHumanId",
                        "type",
                        "content",
                        "structuredData",
                        "replyToId",
                        "toolCallId",
                        "deliveredAt",
                        "readAt",
                        "metadata",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/agent/conversations/{id}/upload/presigned": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "Get a presigned URL to upload a file directly to storage",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fileName": {
                    "type": "string"
                  }
                },
                "required": [
                  "fileName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "storageKey": {
                          "type": "string"
                        },
                        "bucket": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url",
                        "storageKey",
                        "bucket"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/agent/conversations/{id}/invitations": {
      "post": {
        "tags": [
          "invitations"
        ],
        "summary": "Invite a human to a conversation",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Repeat a POST with the same key and the original response comes back instead of the work happening twice. Only successful responses are remembered, so a refusal leaves the key free for the corrected retry.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "message": {
                    "type": "string",
                    "maxLength": 1024
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "en",
                      "es",
                      "ca"
                    ]
                  },
                  "expiresInHours": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 168,
                    "default": 48
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "conversationId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "invitedByAgentId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "invitedHumanEmail": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "accepted",
                            "declined",
                            "expired",
                            "revoked"
                          ]
                        },
                        "message": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "language": {
                          "type": "string"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "autoAccepted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "conversationId",
                        "invitedByAgentId",
                        "invitedHumanEmail",
                        "token",
                        "status",
                        "message",
                        "language",
                        "expiresAt",
                        "createdAt",
                        "updatedAt",
                        "autoAccepted"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "May also indicate a reused `Idempotency-Key`; the `code` field distinguishes them.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "tags": [
          "invitations"
        ],
        "summary": "List invitations for a conversation",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "conversationId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "invitedByAgentId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "invitedHumanEmail": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "accepted",
                              "declined",
                              "expired",
                              "revoked"
                            ]
                          },
                          "message": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "language": {
                            "type": "string"
                          },
                          "expiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "conversationId",
                          "invitedByAgentId",
                          "invitedHumanEmail",
                          "token",
                          "status",
                          "message",
                          "language",
                          "expiresAt",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/agent/conversations/invitations/{id}": {
      "delete": {
        "tags": [
          "invitations"
        ],
        "summary": "Revoke a pending invitation",
        "description": "id here is the invitation id, not a conversation id.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "conversationId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "invitedByAgentId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "invitedHumanEmail": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "accepted",
                            "declined",
                            "expired",
                            "revoked"
                          ]
                        },
                        "message": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "language": {
                          "type": "string"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "conversationId",
                        "invitedByAgentId",
                        "invitedHumanEmail",
                        "token",
                        "status",
                        "message",
                        "language",
                        "expiresAt",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/agent/webhooks": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Register a webhook",
        "description": "The response carries the signing secret in clear, once — it is stored sealed and never returned again.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Repeat a POST with the same key and the original response comes back instead of the work happening twice. Only successful responses are remembered, so a refusal leaves the key free for the corrected retry.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "*"
                    ]
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "agentId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "url": {
                          "type": "string"
                        },
                        "events": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "isActive": {
                          "type": "boolean"
                        },
                        "failureCount": {
                          "type": "integer"
                        },
                        "lastDeliveryAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "secret": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "agentId",
                        "url",
                        "events",
                        "isActive",
                        "failureCount",
                        "lastDeliveryAt",
                        "createdAt",
                        "updatedAt",
                        "secret"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/IdempotencyKeyReused"
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "List webhooks",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "agentId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "url": {
                            "type": "string"
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "failureCount": {
                            "type": "integer"
                          },
                          "lastDeliveryAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "agentId",
                          "url",
                          "events",
                          "isActive",
                          "failureCount",
                          "lastDeliveryAt",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/agent/webhooks/{id}": {
      "patch": {
        "tags": [
          "webhooks"
        ],
        "summary": "Update a webhook",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
[...]
