@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --fd-primary: 262 52% 47%;
  --fd-primary-foreground: 0 0% 100%;
}

.dark {
  --fd-primary: 270 55% 60%;
  --fd-primary-foreground: 0 0% 100%;
  --fd-background: 240 10% 5%;
}
